Let's create a student data in python

In [4]:
name = "Alice"
age = 18
GPA = 3.78
plays_volleyball = True

print(name)

Alice

In [5]:
print (name, age, GPA, plays_volleyball)

Alice 18 3.78 True

In [6]:
GPA = GPA + 0.07
print ( name, age, GPA, plays_volleyball)

Alice 18 3.8499999999999996 True

Let's try and print student information in a meaningful manner

In [7]:
print (f"The student name is {name} and they are {age} years old")

The student name is Alice and they are 18 years old

Let's calculate alice age in 15 years

In [8]:
age =  age + 15

print (f"The student name is {name} and they will be {age} years old in 15 years.")

The student name is Alice and they will be 33 years old in 15 years.

In [9]:
sports = ["volleyball", "Netball", "Rugby", "Cricket"]
sports[1]

'Netball'

In [10]:
sports.append("hockey")
print ("Alice is currently playing : ", sports)

Alice is currently playing :  ['volleyball', 'Netball', 'Rugby', 'Cricket', 'hockey']

In [11]:
sports[0:3]

['volleyball', 'Netball', 'Rugby']

Let's see the **last 3 sports** alice is playing

In [12]:
sports [-3:]

['Rugby', 'Cricket', 'hockey']

## Calculate Letter Grading 
- 2 or under D
- 3 or under C
- 3.8 or under B
- Above 3.8 A

In [13]:
student_gpa = float (input("What is your GPA ?"))

if student_gpa <= 2:
    letter_grade = "D"
elif student_gpa <= 3:
    letter_grade = "C"
elif student_gpa <= 3.8:
    letter_grade = "B"
else: 
    letter_grade = "A"

print(f"Student's grade is {letter_grade}")

Student's grade is B

In [14]:
sports

['volleyball', 'Netball', 'Rugby', 'Cricket', 'hockey']

In [16]:
print (sports[0])
print (sports[1])
print (sports[2])
print (sports[3])
print (sports[4])

volleyball
Netball
Rugby
Cricket
hockey

**Using for loop to see all sports**

In [19]:
for x in sports:
    print(x)

volleyball
Netball
Rugby
Cricket
hockey

###Adding extra bits in the for loop###

In [28]:
i = 1
for x in sports:
    print(f"{i}. {x.title()}")
    i = i+1

1. Volleyball
2. Netball
3. Rugby
4. Cricket
5. Hockey

In [30]:
for idx, x in enumerate(sports, start= 1):
    print(f"{idx}. {x.title()}")

1. Volleyball
2. Netball
3. Rugby
4. Cricket
5. Hockey

In [31]:
my_number_list = []
for i in range (100):
    my_number_list.append(i)

my_number_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [34]:
my_number_list_2 = [i for i in range (100)]
my_number_list_2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [37]:
my_square_list = [i*i for  i in range(1, 101)]
my_square_list

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

###

In [42]:
even_square_list = [i*i  for i in range (1,101) if (i * i) % 2 == 0]
print(even_square_list)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

In [44]:
odd_square_list = [i*i  for i in range (1,101) if (i * i) % 2 == 1]
print(odd_square_list)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]